
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000; 
  color: #fff;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}



.todo-container {
  width: 100%;
  max-width: 500px;
  background-color: #111;
  padding: 1.5rem;
  border-radius: 10px;
}


.todo-header {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}


.todo-input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}


.todo-buttons,
.task-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #000;
  cursor: pointer;
}


ul {
  list-style: none;
  padding: 0;
}

.task-item {
  margin-bottom: 1rem;
  background-color: #222;
  padding: 0.8rem;
  border-radius: 5px;
}

.task-item span {
  display: block;
  margin-bottom: 0.5rem;
}

.strike {
  text-decoration: line-through;
  color: gray;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}
